@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
    background-image: url("https://i.imgur.com/4WdfLM3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 
li,a,button {
    font-family: "Montserrat";
    font-size: 1.15vw;
    color: grey;
    text-decoration: none;
}

header{
    display: flex;   
    align-content: space-evenly;
    justify-content: center;
    padding: 30px 10%;
    background-color: lightblue;
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 70px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:black;
}

button {
    margin-left: 20%;
    margin-top: 10%;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: lightpink;
}

.main{
  display: flex;
  flex-direction: column;
  align-items:center;
  align-content: space-between;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 50%;
}

div.intro p,h1{
  margin: 5%;
  font-weight: bold;
  color: black;
  font-family: 'Rowdies', cursive;
}

div.intro{
    margin: 30px;
    background-color: white;
    opacity: 0.8;
  }

  div.learning p,h1{
    margin: 5%;
    font-weight: bold;
    color: black;
    font-family: 'Rowdies', cursive;
  }
  
  div.learning{
      margin: 30px;
      background-color: white;
      opacity: 0.8;
    }